<%= stylesheet_link_tag "about" %>
<div class="content-container">
    <div class="content">
        <p>I’ve lived here all my life. I love fulfilling my bucket lists, like travelling-just trying new things!</p>
    </div>
    <div class="cali">
        <h1>Southern California born and raised</h1>
    </div>
</div>
