<%= stylesheet_link_tag "index" %>
<div class="intro-container">
    <div class="me">
    <%= image_tag("me pic.png", height: '1600px') %>
    </div>
    <div class="intro">
      <div class="header">
        <h1>I'm Victor, a software engineer.</h1>
      </div>
        <div class="logos">
            <%= link_to image_tag("github logo cutout.png", width:'65px', class:"logo"), "https://www.github.com/ghorus" %>
            <%= link_to image_tag("linked in logo cutout.png", width:'65px', class:"logo"), "https://www.linkedin.com/in/victor-nguyen-684486266/"%>
        </div>
    </div>
</div>
