.nav-op {
    font-size:25px;
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
}
.nav-op:hover {
    opacity: 0.3;
}
.nav {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
    align-items: center;
    text-align: center;
    width: 1250px;
    height: 100px;

}
.nav-container {
    display: grid;
    width: 1880px;
    height: 100px;
    justify-content: center;
}