.container {
    display: grid;
    text-align: center;
    justify-content: center;
}

.container h1 {
    font-size: 20px;
}

.bar {
    background-color:white;
    width: 600px;
    height: 25px;
    border: solid;
    border-width:1px;
    border-radius: 20px;
    overflow: hidden;
}
#html_css{
    width: 450px;
    height: 40px;
    background-color: aquamarine;
}
#py {
    width: 430px;
    height: 40px;
    background-color: aquamarine;
}
#js{
    width: 220px;
    height: 40px;
    background-color: aquamarine;
}
#react {
    width: 100px;
    height: 40px;
    background-color: aquamarine;
}
#ruby {
    width: 220px;
    height: 40px;
    background-color: aquamarine;
}
#alg {
    width: 350px;
    height: 40px;
    background-color: aquamarine;
}